#landingHeader {
  padding-right: 20px;
}


.buttonDiv {
  width: 30px;
  display: flex;
  float: right;
  /* padding-right: 15px; */
  margin-top: 5px;
  margin-right: -20px;
  /* background-color: grey; */
  
}

.buttonDiv a:hover {
  /* text-shadow: 1px 1px .5px #000000; */
  border-bottom: none !important;
  /* color: white !important; */
}

.backButton {
  border: solid 1px;
  font-weight: 400;
  font-size: 16px;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 131, 131, .8);
  color: white;
}

.backButton::before{
  background: white;
  content:'';
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0;
  height: 100%
}

.backButton:hover{
  /* color: #185a9d; */
  background-color: rgb(255, 255, 255, 0.5);
  color: rgb(45, 131, 131);
  border: solid 2px;
}

.backButton a:link{
  text-decoration: none !important;
}

.backButton a:visited{
  text-decoration: none !important;
}

.backButton a:hover{
  /* color: white !important; */
  /* background-color: rgb(52, 115, 123, .7); */
  background-color: white !important;
  /* text-shadow: 1px 1px .5px #000000; */
  text-decoration: none !important;
}