h1, h2, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body{
  background: linear-gradient(278deg, #2c6975   0%, #68b2a0 100%) fixed;
  /* background-color: #4DAF7C; */
  /* background: rgb(34,193,195); */
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

#about {
  margin-top: 13px;
}

#content {
  margin: 20px 15px;
}