/* #header{
  background-color: #3b3b3b;
  height: 50px;
  color: white;
  padding: 0;
  margin: 0;
} */
#header {
  margin: 0, auto;
}

#headText{
  padding-top: 12px;
  font-family: sans-serif !important;
  font-weight: lighter;
  padding-left: 2rem;
  /* color: red; */
}

.ingridHeader {
  max-width: 250px;
}
