#menu{
  /* background-color: #4DAF7C; */
  margin: 0;
  padding: 0;
  height: 60px;
  vertical-align: middle;
  /* background: linear-gradient(278deg, #42275a  0%, #734b6d 100%) fixed; */
  /* background: linear-gradient(278deg, #c4e0e5    0%, #4ca1af 100%) fixed; */
  /* background: linear-gradient(278deg, #ffdcdb 0%, #b4c8ea 100%) fixed; */
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid #3b3b3b; */
}

#menuList{
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) */
  /* padding-left: 50px; */
}

#menu li{
  border: solid white 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 6px;
}

.menuItem{
  font-size: 13px;
  letter-spacing: 3px;
  color: white;
  list-style: none;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

/* .menuItem a:link{
  color: white;
  text-decoration: none;
}

.menuItem a:visited{
  color: white;
  text-decoration: none;
} */
.menuItem::before{
  background: white;
  content:'';
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0;
  height: 100%
}

.menuItem:hover{
  color: black;
  background-color: rgba(255, 255, 255, .8) ;
  /* text-shadow: .5px .5px .5px #000000; */
  text-decoration: none;
}

