.packageClass {
  background-color:rgb(255, 255, 255, 0.75) ;
  width: 70vw;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  border-radius: 4px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  box-sizing: border-box;
  color: #3b3b3b;
  font-size: 14px;
  letter-spacing: .5px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-weight: 300;
}

.packageClass h1, h2, h3, h4 {
  color:#34737B;
}

.packageClass code {
  overflow-x: scroll;
  overflow-y: hidden;
}

.packageClass a:link{
  color: #34737B;
  text-decoration: none;
}

.packageClass a:visited{
  color: #34737B;
  text-decoration: none;
}

.packageClass a:hover{
  color: #185a9d;
  border-bottom: white solid 1px;
  /* text-shadow: 1px 1px .5px #000000; */
  text-decoration: none;
}

#packageWrapper {
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.headingText {
  color: white;
  text-align: center;
  letter-spacing: 7px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 3px;
}

.subText {
  color: white;
  text-align: center;
  padding-right: 15px;
  font-size: 10px;
  letter-spacing: 3px;
  margin-top: 3px;
}

#headingText {
  color: white;
  text-align: center;
  letter-spacing: 7px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 3px;
  font-weight: 100;
}
#subText {
  color: white;
  text-align: center;
  padding-right: 15px;
  font-size: 10px;
  letter-spacing: 3px;
  margin-top: 3px;
  font-weight: 100;
}

.ingridPage {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  max-width: 320px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}

.packageLogos {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 20px;
  border-bottom: solid #34737B 1px;
}

.packageLogos img{
  min-width: 200px;
}

#aboutBanner {
  width: 100vw;
}

.npm {
  font-weight: 700;
}