.teamMember{
  /* border: solid black 1px; */
  /* background-color: #3b3b3b; */
  margin-top: 10px;
  font-size: 14px;
  padding: 10px;
  /* width: 50vw; */
  /* color: white; */
  /* box-shadow: 1px 1px 5px #000000; */
  line-height: 25px;
  /* border-radius: 5px; */
  border-bottom: solid #34737B 1px;
}

.personBio {
  display: flex;
  padding-bottom: 15px;
}

#teamPage{
  /* padding-top: 5vh; */
  margin: auto;
  width: 50%;
}

img {
  /* border-radius: 10px; */
  min-width: 25%;
  max-width: 25%;
  padding-right: 20px;
}